{% extends "base.html" %}

{% block content %}
        <h1>Hello, {{user.username}}</h1>

        <h2>Recent News</h2>
        <p>We are happy to announce that we are expanding our Athletic Club! We are opening new locations in Lakeview and
        Logan Square! We expect to open up in the third quarter of 2018 and are excited to bring the quality service you
        know and love to new locations</p>

        <p>Our Athletic Club was recently featured in the Chicago Tribune and was named the top Athletic Club for the
        second year in an row! We are proud to help all of our members and plan to continue our excellent service in
        the future!</p>
{% endblock %}